* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;

}


/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

.checked {
	color: orange;
}