* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: transparent;
    position: relative;

}
nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style:none;

}

nav ul li {
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(17, 8, 8);
    font-family: sans-serif;
}
nav ul li button{
    
    font-size: 20px;
    color: black;
    outline: none;
    cursor:pointer;
    border:none;
    background: transparent;
    font-family: sans-serif;
}

nav ul li button:hover{
    color:aqua;
}

nav ul li a:hover{
    color:aqua;
}

a{
    text-decoration: none;
    font-size: 38px solid;
}
.logo{
    display: inline-block;
}

.logo h2{
    color: rgb(248, 248, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 400px;
    height: auto;
}

.logo a{
    font-size: 100%;
}

.logo a:hover{
    color: #942323;
}

#about{
    display: flex;
    
}

