
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    
    
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 0.9em;
    text-align: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.5px;
}
li a:hover {
    background-color: #111;
}
li:last-child {
    border-left: 2px solid #ffddff;
}
form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4b3a97 ;
    margin: auto;
    padding: 0.9em;
    max-width: 18em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
p {
    color: #acc76e;
    font-size: 0.82rem;
}

label {
    color: #acc76e;
    font-size: 0.82rem;
    text-transform: capitalize;
}

h2 {
    color: #acc76e;
    text-transform: capitalize ;
}

#navbar {
    background-color: #333;
}

#random {
    line-height: 1.2em;
    letter-spacing: 0.2em;
    word-spacing: 0.1em;
}
#form{

}

#other{

}
div{
height: 50em;

}