h3 {
    font-weight: 500;
    font-size: 39px;
    color: rgb(240, 225, 18);
    font-style: italic;
}

.form {
    background: rgb(168, 72, 15, 5);
    padding: 20px;
    max-width: 190px;
    border-radius: 40px;
    align-items: center;
}

h1 {
    color: rgb(235, 208, 208);
    font-size: 40px;
    font-family: sans-serif;
    font-style: italic;
    margin: auto;
    text-align: center;
}

h2 {
    color: rgb(149, 196, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 300px;
    height: inherit;
    margin: auto;
}

body {
    margin: 0px;
    margin-top: 0px;
   background-image: url('../images/off.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 100%;
    height: 30%;
    width: auto;
    background-color: #02ae49;
    border: none;
    color: #ccc;
}



.ayo {
    width: 190px;
    border-radius: 100px;
    height: 190px;
    border: solid rgb(138, 160, 13);
    margin: auto;
    padding: 5px 5px 5px 5px;
    filter: saturate(195%) contrast(85%);
}

.try {
    filter: opacity(90%) saturate(95%) contrast(85%) brightness(90%);
    -webkit-filter: opacity(90%) saturate(95%) contrast(85%) brightness(90%);
    position: center;
    align-items: center;
}

h2.temmy {
    font-size: 30px;
    font-family: cursive;
    color: rgb(143, 184, 32);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    background-color: #000000;

}
nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style:none;

}

nav ul li {
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-family: sans-serif;
}
nav ul li button{
    
    font-size: 20px;
    color:white;
    outline: none;
    cursor:pointer;
    border:none;
    background: transparent;
    font-family: sans-serif;
}

nav ul li button:hover{
    color:aqua;
}

nav ul li a:hover{
    color:aqua;
}

a{
    color:palevioletred;
    text-decoration: none;
    font-size: 38px solid;
}
h2.bar4 {
    color: honeydew;
    font-style: italic;
    font-family: cursive;
    margin: 20px;
}

pre {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: thistle;
    font-weight: bolder;
    border: solid 3px purple;
    border-radius: 10px;
    display: inline;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

i {
    color: white;
    font-size: 20px
}

.rightwing {
    font-size: 1rem;
}

#body{
    display: flex;
    flex-direction: row;
}

p {
    
    font-style: italic;
    font-family: cursive;
    margin: 10px;
    
    display: inline;
    word-wrap: break-word;
}

input {
    width: 100%;
    height: 100%;
}
.calculator {
    border: 2px solid gray;
    font-size: 0;
}

.hit {
    width: 25%;
    height: 35px;
}

.clear {
    width: 50px;
    background-color: green;
}

.submit {
    width: 50%;
    background-color: rgb(49, 81, 224);
}

.trey {
    text-align: right;
    font-size: 15px;
}

.true {
    filter: saturate(95%) contrast(85%);
    position: center;
    margin-left: 40%;
    align-items: center;
    -webkit-filter: saturate(95%) contrast(85%);
}

.container {
   
    align-items: center;
    display: block;
    background: #ffffff ;
}

h1::first-line {
    color: #17d5db;
    font-variant: small-caps;
}

span {
    color:#000000;
    size: 200px;
}

.img {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.img:hover {
    border: 1px solid #777;
    opacity:0.4;
    filter: alpha(opacity=100);
    -webkit-filter: alpha(opacity=100);
}



div.desc {
    padding: 15px;
    text-align: center;
}



.header{
    resize: horizontal;
    overflow: auto;
}